@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #334155 #0a0f1a;
}

button {
  @apply transition-colors;
}
